{% extends "bootstrap/base.html" %}

{% block title %}Atlantic Liquors{% endblock %}

{% block head %}
{{ super() }}      
<link rel="stylesheet" href="{{ url_for('static', filename='BelovedStyling.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Atlantic Liquors</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/basket">Basket</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 20px;">
    {% block maincontent %}{% endblock %}
</div>
{% endblock %}